<input type="checkbox">
        <h2>Make the curriculum</h2> 
        <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span> 
        <a href="index.html">Edit</a>
        <a href="index.html">Delete</a>
        <a href="index.html">Go back...</a>