<input type="checkbox">
        <h2><%= @todo_description %></h2> 
        <h3>Todo #<%= params[:id] %></h3>
        <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span> 
        <a href="index">Edit</a>
        <a href="index">Delete</a>
        <a href="../index">Go back...</a>